body{
    font-family: 'Times New Roman', Times, serif;
    color: #1c1c1c;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}
.botao{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

/*Navegação*/

nav {
    display: flex;
    flex-direction:column;
    align-items:baseline;
    background-color: #191970;
}

nav > a {
    text-decoration: none;
    color:#ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-inline-start: 10px;
    
    
}

nav ul {
    display: flex;
    flex-direction:row;
    align-items: center;
    list-style: none;
    padding:0;
    width: 100%;
    margin: auto;
    
}

nav ul li{
    text-align: center;
    width: 100%;
    
}

nav ul li a{
    display: flex;
    padding: 10px 10px;
    width: 100%;
    /*text-decoration: none;*/
    color: #ffffff;
    
    
}

/*Cabeçalho*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/book-1052014_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}
header p {
    margin-bottom: 2em;
    
}

#artigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#artigos h2 {
    color: #ffffff;
}

#artigos p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


#galeria h2 {
    margin-bottom: 20px;
}

#galeria img {
    width: 100%;
}

#lojas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
#lojas div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2{
    color:#000000;
}

#contato img {
    width: 10%;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #00ffff;
}

/*Smartphone*/
@media screen and (max-width:786px) {

    /*Nav*/
    nav {
        flex-direction:column;
        justify-content: space-around;
        
        
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        font-size: 22px;
        
    }

    /*Cabeçalho*/
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
        font-size: 25px;
    }

    /*Artigos*/
    #artigos {
        height: 250px;
        height: 20vh;
        justify-content: center;
        min-height: 250px;
    }

    /*Galeria*/
    #galeria {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #galeria p{
        width: 100%;
        padding: 10px;
    }
    #galeria h2 {
        width: 100%;
        text-align: center;
    }

    #galeria img {
        width: 33.33333333%;
    }
    /*Lojas*/
    #lojas {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #lojas h2 {
        text-align: center;
        width: 100%;
    }
    
    #lojas div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10 px;
        text-align: center;
    }

    #lojas div p{
        font-size: 30px;
        
    }
    
    /*Contato*/
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2,
    #contato p {
        width: 100%;

    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023px){

    /*Nav*/
    nav{
        flex-direction:row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction:row;
        justify-content: space-around;
        width: 70%;
    }

    /*Cabeçalho*/
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    
    /*Artigos*/
    #artigos{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    /*Lojas*/
    #lojas{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #lojas h2 {
        text-align: center;
        width: 100%;
    }
    #lojas div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10 px;
    }
    /*Galeria*/
    #galeria{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #galeria h2{
        width: 100%;
        text-align: center;
    }
    #galeria img {
        width: 33.33333333%;
    }
    /*Contato*/
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p {
        width: 100%;

    }
}
/*Desktop*/
@media screen and (min-width:1024px) {

    /*Nav*/
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }

    /*Cabeçalho*/
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /*Artigos*/
    #artigos {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    /*Lojas*/
    #lojas {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #lojas h2 {
        text-align: center;
        width: 100%;
    }

    #lojas div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10 px;
    }

    /*Galeria*/
    #galeria {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #galeria h2 {
        width: 100%;
        text-align: center;
    }

    #galeria img {
        width: 33.33333333%;
    }

    /*Contato*/
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2,
    #contato p {
        width: 100%;

    }
}
